.nav{
  transition:all 0.5s;
  >ul{
    background-color: $fu_bg;
    height: calc(100vh - 65px);
    text-align: center;
    padding-top: 15px;
    color: $d84;
    li{
      width: 58px;
      height: 58px;
      &:hover{
        background-color: #56626f;
        i{
          color: $cff;
        }
      }
    }
    .on{
      background-color: #56626f;
      i{
        color: $cff;
      }
    }
    i{
      font-size: 24px;
      cursor: pointer;
      width: 58px;
      height: 58px;
      line-height: 58px;
    }
  }
  .nav_right{
    .s_title{
      width: 100%;
      height: 45px;
      border-top: 1px solid $cd8;
      border-bottom: 1px solid $cd8;
      line-height: 45px;
      padding-left: 20px;
      color: $c33;
    }
    >ul{
      li{
        cursor: pointer;
        color: $d84;
        padding-left: 20px;
        height: 45px;
        line-height: 45px;
        width: calc(100% - 20px);
        a{
          display: block;
        }
        &:hover,&.ac{
          background-color: $zhu;
          a{
            color: $cff;
          }
        }
        i{
          display: inline-block;
          width: 36px;
          font-size: 20px;
          margin-right: 5px;
          text-align: center;
        }
      }
    }
  }
  
}